<ion-view hide-nav-bar="true">
  <ion-content class="background">
      <br>
      <br>
      <br>
      <br>
      
    
    <center style="z-index:10000">
      <img ng-src="img/logo1.png" width="200px" height="200px">
      <h1 style="color:#fff">www.asrtutorials.com</h1>
      </center>
    
  </ion-content>
      <div class="bar bar-footer">
<div class="button-bar">
  <a class="button button-positive"  ng-click="login()">Login</a>
  <a class="button button-assertive" onclick="window.open('http://student.asrtutorials.com/','_system')">Signup</a>
 
</div>
</div>
</ion-view>
