<ion-view view-title="About Us">
  <ion-content>
   <br>
   <br>
   <br>
    <center style="z-index:10000">
      <img src="http://student.asrtutorials.com/images/ASR_Tutorials_Logo.jpg"width="100px" height="100px">
      </center>
      <br>
      <br>
      <br>
    <ion-list show-delete="false" can-swipe="true">
        
                    <ion-item   class="item item-text-wrap " >
                  <center><b>Ajeet S R pandey</b></center><br>
                  
                    <!--Attendance: 67%-->
                    
                    </ion-item>  
                    <ion-item href="tel:9820138638"  class="item item-text-wrap " >
                    <i class="ion ion-android-call"></i>&nbsp;&nbsp;<b>9820138638</b><br>
                  
                    <!--Attendance: 67%-->
                    
                    </ion-item>  
                    <ion-item href="#"  class="item item-text-wrap" ng-click="emailFeedBack()">
                     <i class="ion ion-email"></i>&nbsp;&nbsp;<b>ajeetsrpandey@gmail.com</b><br>
                  
                    <!--Attendance: 67%-->
                    
                    </ion-item>
  
                    <ion-item href="#"  class="item item-text-wrap" onclick="window.open('http://asrtutorials.com/','_system')">
                     <i class="ion ion-wifi"></i>&nbsp;&nbsp;<b>asrtutorials.com</b><br>
                  
                    <!--Attendance: 67%-->
                    
                    </ion-item>
                    <ion-item href="#"  class="item item-text-wrap" onclick="window.open('https://www.facebook.com/ASR-Tutorials-Pvt-Ltd-459198447453255/','_system')">
                     <i class="ion ion-social-facebook"></i>&nbsp;&nbsp;<b>Facebook</b><br>
                  
                    <!--Attendance: 67%-->
                    
                    </ion-item>
                    <ion-item href="#"  class="item item-text-wrap" onclick="window.open('https://www.instagram.com/asrtutorials/','_system')">
                     <i class="ion ion-social-instagram"></i>&nbsp;&nbsp;<b>Instagram</b><br>
                  
                    <!--Attendance: 67%-->
                    
                    </ion-item>
                    <ion-item href="#"  class="item item-text-wrap" onclick="window.open('http://rbtechsolutions.in/','_system')">
                      <center><small>Maintained by RBTech Solutions</small></center><br>
                   
                     <!--Attendance: 67%-->
                     
                     </ion-item>
                    
                 
                </ion-list>
  </ion-content>
</ion-view>
